body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: white;
    background: rgb(42, 42, 42);
    padding: 0px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* ---------- */
#character-information {
    position: relative;
    margin-bottom: 20px;
}
#character-information img#character-image {
    width: 300px;
    height: 300px;
    background: rgb(142, 142, 142);
}

#character-basic-info {
    margin-top: 15px;
}

#health {
    position: relative;
    border-radius: 100%;
    width: 255px;
    height: 255px;
}
img#health-outer {
    position: absolute;
    width: 247px;
}
#health .health-inner {
    position: relative;
    top: 14px;
    left: 14px;
    
    width: 220px; 
    height: 220px;
    border-radius: 100%;
}
#health .health-inner img {
    position: absolute;
    width: 220px; 
    height: 220px;
}


#health-fill {
    position: absolute;
    /*make health fil come on top */
    z-index: 100;
}
.panning-container {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    z-index: 100;
    width: 220px; 
    height: 220px; 
}
.panning-image, .panning-image-2 {
    position: absolute;
    transform: rotate(90deg);
    top: 0;
    width: 220px; 
    height: 220px;
    /* background: #fd9a3e4d; */
    opacity: 0.65;
}
.panning-image {
    filter: contrast(1.25);
}
.panning-image-2 {
    top: unset;
    left: 0;
    transform: rotate(0deg);
}