body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: white;
    background: rgb(42, 42, 42);
    padding: 0px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* ---------- */
#character-information {
    position: relative;
    margin-bottom: 20px;
}
#character-information img#character-image {
    width: 300px;
    height: 300px;
    background: rgb(142, 142, 142);
}

#character-basic-info {
    margin-top: 15px;
}

/* SPELLBOOK SIDEPANEL */
#spellbook-button {
    max-width: 65px;
    position: relative;
    border-radius: 100%;
    height: 65px;
    border: 1px solid rgb(31, 31, 31);
    box-shadow: inset 0px 0px 16px 0px rgba(110, 109, 109, 0.596);
    filter: drop-shadow(0px 0px 2px rgb(29, 29, 29));
}
#spellbook-button img {
    margin: auto;
    width: 100%;
    padding: 9px;
    box-sizing: border-box;
    position: absolute;
}

#spellbook-sidepanel {
    height: fit-content;
    width: 25vw;
    background: rgba(255, 255, 255, 0.473);
    position: fixed;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    border-radius: 35px;
    padding: 0px 10px 25px;
    overflow: visible;
}
#spellbook-sidepanel h1 {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.486);
}

.spell .description {
    display: none;
    background: white;
    border-radius: 3px;
    box-sizing: border-box;
    position: absolute;
    width: 22vw;
    left: -22vw;
    transform: translateY(-34px); /* maybe needs to be calculated with js */
    margin-left: -11px;    
    color: black;
    min-height: 34px;
}
.spell .description textarea, .spell .description span {
    padding: 7px 15px;
    font-size: 13px;
    box-sizing: border-box;
    border-radius: 3px;
    resize: none;
    border: 0px;
    margin: 0px;
    width: 100%;
    display: block;
    outline: none;
    overflow-y: hidden;
    line-height: 1.6;
} 
.spell .description::before {
    content: "";
    position: absolute;
    top: 10px; 
    right: -12px; 
    transform: rotate(-90deg);
    border-width: 15px 5px 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}
.spell .title, .spell-lvl-heading, .spell .spell-edit-title {
    padding: 2px 20px;
    margin: 1px 0px;
    line-height: 1.875;
    background: #1f1f1f85;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    color: rgb(241, 241, 241);
    font-size: 16px;
}
.spell .title {
    display: block;
    position: absolute;
    opacity: 0;
    width: calc(100% - 20px);
    z-index: -1;
}
.spell .spell-edit-title {
    resize: none;
    border: 0px;
    width: 100%;
    display: block;
    outline: none;
    overflow-y: hidden;
}
.spell-lvl-heading {
    display: flex;
    flex-direction: row;
    padding: 9px 20px 7px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgba(255, 255, 255, 0.897);
    position: relative;
    cursor: pointer;
}
.spell-lvl-heading h2 {
    font-size: 18px;
    letter-spacing: 0.25px;
    margin: 0px;
}
.spell-lvl-heading h2 input {
    outline: none;
    border: 0px;
    color: rgba(255, 255, 255, 0.897);
    font-size: 18px;
    width: 0px;
    font-weight: 700;
    letter-spacing: 0.25px;
    background-color: transparent;
    
}
.spell .title:hover, .spell-lvl-heading:hover, .spell .spell-edit-title:hover {
    background: #1f1f1f34;
}

.spell-lvl-slots .toggle-btn {
    position: absolute;
    display: flex;
    margin-top: -2px;
    right: 20px;
    align-self: center;
}
.spell-lvl-slots .toggle-btn svg {
    fill: #c4c7c5;
    border-radius: 100%;
    background-color: #282a2c;
    transition: transform 0.3s;
}

/* active state of sidepanel elements */
.spell-lvl-slots.active .spell .title {
    animation: fadeInLate 0.5s forwards;
    position: relative;
    top: unset;
    z-index: 10;
    width: 100%;
}
@keyframes fadeInLate {
    0%, 50% {
        opacity: 0;
    }
    85% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.spell-lvl-slots.active .toggle-btn svg {
    transform: rotate(180deg);
}
.spell-lvl-slots.active .spell .title.no-animation {
    /* Reset or override any animations/transitions here */
    animation: none !important;
    opacity: 1;
    transition: none !important;
}








/*FONTS LOADING*/
@font-face {
    font-family: 'exocet';
    src: url('fonts/ExocetImmortal-Light.otf') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body, h1, h2, h3, h4, p, span, input, textarea {
    font-family: 'exocet', sans-serif;
}