body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: white;
    background: rgb(42, 42, 42);
    padding: 0px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* ---------- */
#character-information {
    position: relative;
    margin-bottom: 20px;
}
#character-information img#character-image {
    width: 300px;
    height: 300px;
    background: rgb(142, 142, 142);
}

#character-basic-info {
    margin-top: 15px;
}

.orb {
    position: relative;
    border-radius: 100%;
    width: 255px;
    height: 255px;
}
img.orb-outer {
    position: absolute;
    width: 247px;
}
.orb-inner-shadow {
    width: 222px;
    height: 222px;
    margin-top: -1px;
    margin-left: -1px;
    box-shadow: inset 0px 0px 20px 2px rgb(0, 0, 0);
    z-index: 999;
    display: block;
    border-radius: 100%;
    position: absolute;
}
.orb .orb-inner {
    position: relative;
    top: 14px;
    left: 14px;
    width: 220px; 
    height: 220px;
    border-radius: 100%;
}
.orb .orb-inner img {
    position: absolute;
    width: 220px; 
    height: 220px;
}

.orb-fill {
    position: absolute;
    background-color: red;
    filter: brightness(2);
}
.orb-fill-top {
    width: var(--adjusted-width);
    top: var(--adjusted-top);
    z-index: 111;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    position: relative;
    display: block;
    box-shadow: inset 0px 0px 255px 0px rgba(0, 0, 0, 0.445);
    filter: drop-shadow(0px -2px 5px rgba(255, 255, 255, 0.103));
    height: 15px;
    background-color: rgb(112, 63, 51);
    border-radius: 100%;
    border-top: 1px solid rgb(63, 36, 29);
}
.orb-fill-top-inner{
    filter: none;
    width: 94%;
    margin: auto;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 4px 4px rgba(68, 16, 3, 0.644);
    background-color: rgba(20, 7, 7, 0);
}

.panning-container {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    z-index: 100;
    width: 220px; 
    height: 220px; 
}
.panning-image, .panning-image-2 {
    position: absolute;
    transform: rotate(90deg);
    top: 0;
    width: 220px; 
    height: 220px;
    /* background: hsla(61, 95%, 74%, 0.11); */
    background: hsla(61, 95%, 74%, 0.13);
    opacity: 0.72;
}
.panning-image {
    filter: contrast(1.25);
}
.panning-image-2 {
    transform: rotate(180deg);
}

#mana, #mana .orb-inner, #mana .orb-inner img , #mana .panning-image, #mana .panning-image-2, #mana .panning-container {
    width: 56px!important;
    height: 56px!important;
}
#mana .orb-outer {
    width: 63px!important;
    height: 63px!important;
    left: 10px;
    top: 10px;
}
#mana .orb-inner-shadow {
    width: 58px;
    height: 58px;
    box-shadow: inset 0px 0px 12px 10px rgba(0, 0, 0, 0.555);
}
#mana .orb-fill {
    background-color: rgb(66, 79, 255);
    filter: brightness(2);
}
#mana .panning-image, #mana .panning-image-2 {
    background: hsla(263, 77%, 27%, 0.233);
    filter: brightness(3);
    transform: rotate(270deg);
}

#mana:hover .panning-image, #mana:active .panning-image, #mana:focus .panning-image, #mana:hover .panning-image-2, #mana:active .panning-image-2, #mana:focus .panning-image-2 {
    background: hsla(271, 84%, 20%, 0.212);
    filter: brightness(2);
}
#mana:hover .orb-inner-shadow, #mana:active .orb-inner-shadow, #mana:focus .orb-inner-shadow {
    box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
}
#mana:hover .orb-fill, #mana:active .orb-fill, #mana:focus .orb-fill {
    background-color: rgba(96, 105, 231, 0.877);
    filter: brightness(3);
}

#mana.deactivate .panning-image, #mana.deactivate .panning-image-2, #mana.deactivate .orb-fill {
    background-color: rgba(68, 68, 68, 0);
    background: rgba(26, 26, 26, 0);
    opacity: 0;
}
#mana.deactivate .orb-inner-shadow {
    box-shadow: inset 0px 0px 45px 8px rgba(20, 0, 9, 0.747);
}


#spellbook-button {
    max-width: 65px;
    position: relative;
    border-radius: 100%;
    height: 65px;
    border: 1px solid rgb(31, 31, 31);
    box-shadow: inset 0px 0px 16px 0px rgba(110, 109, 109, 0.596);
    filter: drop-shadow(0px 0px 2px rgb(29, 29, 29));
}
#spellbook-button img {
    margin: auto;
    width: 100%;
    padding: 9px;
    box-sizing: border-box;
    position: absolute;
}

#spellbook-sidepanel {
    height: 100vh;
    width: 25vw;
    background: rgba(255, 255, 255, 0.473);
    position: fixed;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    padding: 0px 8px;
}
#spellbook-sidepanel h1 {
    font-size: 22px;
    color: rgba(43, 43, 43, 0.486);
}
.description {
    display: none;
}
.title:hover + .description {
    display: inline-block;
}
  